<!doctype html>
<html lang="en">
<head>
    <title>Online Shock - Login or Signup</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

</head>
<body class="img js-fullheight" style="background-image: url(images/bg.png);">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">#100 Days Of Code</h2>
                   {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="warning">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <form action="{{url_for('success_registration')}}" class="signin-form" method="post">
                        <div class="form-group">
                            <input name="email" class="form-control" placeholder="Email" required type="text">
                        </div>
                        <div class="form-group">
                            <input name="username" class="form-control" placeholder="Username" required type="text">
                        </div>
                        <div class="form-group">
                            <input name="password" class="form-control" id="password-field" placeholder="Password" required
                                   type="password">
                            <span class="fa fa-fw fa-eye field-icon toggle-password" toggle="#password-field"></span>
                        </div>


                        <div class="form-group">
                            <button class="form-control btn btn-primary submit px-3" type="submit" >Signup</button>

                            <p class="res"> Have an account?? <a href="{{url_for('login')}}"> Login </a></p>
                        </div>


                    </form>


                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>

