body {
  background-color: #FFEDDB;
}


h1{
    font-family: 'K2D', sans-serif;

}

.form-group  {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Dongle', sans-serif;

}

.btn{
   font-family: 'Dongle', sans-serif;
   font-size: 20px;

}


.card {
    padding-bottom: 2%;
    background-color: #ffeddb;
    background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
    -webkit-box-shadow: 12px 18px 37px -15px rgba(92, 88, 92, 0.23);
    margin: 5% auto 5%;

}


.form-check-input{
    margin-left: auto;
    margin-right: auto;

}

.form-check-label{
    padding-left: 15%;
    padding-bottom: 5%;
}
