
.navbar-brand{
    padding-left: 2%;
}

.container{
    padding-top: 2%;
}

.page-link{
    color: #27374D;
}


.d-flex{
    padding-top: 5%;
    padding-bottom: 10%;

}

.form-group  {
  margin-bottom: 15px;
}


.card-img-top {
  height: 180px;
  object-fit: cover;
}

.cropped-image {
  width: 286px;
  max-width: 100%;
}


.card-img-top-dt{
  height: 500px;
  object-fit: cover;
}

.checkbox{
    margin-bottom: 10px;
    font-size: 20px;
}

.form{
   background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}
.col-sm-6{
    margin: 10px;
}