
.navbar-brand{
    padding-left: 2%;
}

.container{
    padding-top: 2%;
}
.page-link{
    color: #27374D;

}



.card-img-top {
  height: 180px;
  object-fit: cover;
}

.cropped-image {
  width: 286px;
  max-width: 100%;
}
