<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>100 Days Of Code Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--Font-->

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header class="fixed-top" id="header">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">100 Days Of Code Portfolio</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto " href="#work">Projects</a></li>


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<div class="hero route bg-image" id="hero" style="background-image: url(static/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="hero-title mb-4">I am Ryn</h1>
                <p class="hero-subtitle"><span class="typed"
                                               data-typed-items="Photographer, Security and Data Privacy Personnel, Aspiring Full Stack Developer"></span>
                </p>

            </div>
        </div>
    </div>
</div><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about-mf sect-pt4 route" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img , alt=""
                                                 class="img-fluid rounded b-shadow-a" src="static/img/testimonial-2.jpg"
                                                 width=180>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Ryn</span></p>
                                            <p><span class="title-s">Profile: </span> <span>Full stack developer</span>
                                            </p>
                                            <p><span class="title-s">Email: </span> <span>ryn_089@protonmail.ch</span>
                                            </p>
                                            <p><span class="title-s">Phone: </span> <span>+639178173688</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skill</p>
                                    <span>HTML</span> <span class="pull-right">85%</span>
                                    <div class="progress bg-secondary">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85"
                                             class="progress-bar bg-dark" role="progressbar" style="width: 85%;"></div>
                                    </div>
                                    <span>CSS3</span> <span class="pull-right">75%</span>
                                    <div class="progress bg-secondary">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                                             class="progress-bar bg-dark" role="progressbar" style="width: 75%"></div>
                                    </div>
                                    <span>PHP</span> <span class="pull-right">50%</span>
                                    <div class="progress bg-secondary">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                             class="progress-bar bg-dark" role="progressbar" style="width: 50%"></div>
                                    </div>
                                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                                    <div class="progress bg-secondary">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                                             class="progress-bar bg-dark" role="progressbar" style="width: 90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0  ">
                                    <div class="title-box-2 ">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        Hi there, my name is Ryn! I am a photographer with a passion for capturing
                                        beautiful images that tell a story. I am also currently working in the field of
                                        information security and data privacy, where I bring a strong background in
                                        ensuring sensitive information remains secure.
                                    </p>
                                    <p class="lead">
                                        As an aspiring full stack developer, I am always looking for ways to expand my
                                        knowledge and skillset. I am currently on my 81st day of a 100-day journey to
                                        improve my Python skills, and I am excited about the opportunities this will
                                        bring
                                    </p>
                                    <p class="lead">
                                        In my personal life, I am someone who is driven and always looking for ways to
                                        challenge myself. I am constantly seeking out new experiences and opportunities
                                        for growth. I believe that life is all about learning and evolving, and I am
                                        excited about where my passions and skills will take me in the future.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio-mf sect-pt4 route" id="work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Capstone Projects
                        </h3>
                        <p class="subtitle-a">
                            List of some of the capstone projects from 100 days of code
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-1.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-1.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">The Turtle Crossing Capstone Project</h2>
                                    <div class="w-more">
                                       <span
                                               class="w-date">January 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2023"> <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-2.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-2.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Password manager</h2>
                                    <div class="w-more">
                                      <span
                                              class="w-date">January 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2029">
                                            <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-3.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-3.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Flashcard app </h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">February 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2031">
                                            <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-4.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-4.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Web Foundation Bootstrap</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">February 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2058">
                                            <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-5.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-5.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Flask Blog</h2>
                                    <div class="w-more">
                                    <span
                                            class="w-date">March 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2060">
                                            <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a class="portfolio-lightbox" data-gallery="portfolioGallery" href="static/img/work-6.jpg">
                            <div class="work-img">
                                <img alt="" class="img-fluid" src="static/img/work-6.jpg">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Predict House Prices</h2>
                                    <div class="w-more">
                                   <span
                                           class="w-date">April 2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/remarkeyable/100-Days-of-Code-The-Complete-Python-Pro-Bootcamp/tree/main/Day%2080">
                                            <span class="bi bi-plus-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Portfolio Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-box">
                    <p class="copyright">&copy; Copyright <strong>100 Days Of Code Portfolio</strong>. All Rights
                        Reserved</p>

                </div>
            </div>
        </div>
    </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/vendor/typed.js/typed.min.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>

</body>

</html>